.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: $dark-background-color;
}
.footer-nav {
    display: flex;
    align-items: baseline;

    &__conection {
        margin-right: 70px;
    }
}

.footer-title {
    margin-bottom: 20px;

    color: $light-color-text;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}

.address {
    font-style: normal;

    &__item:not(:last-child) {
        margin-bottom: 9px;
    }

    &__link {
        color: $lightdark-color-text;

        font-size: 14px;
        line-height: 1.7;

        &--color {
            color: $light-color-text;
        }
    }
}

.page-social {
    display: flex;

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);

        transition: background-color 250ms $timing-function;

        &:hover,
        &:focus {
            background-color: $accent-background-color;
        }
    }

    &__item:not(:last-child) {
        margin-right: 10px;
    }

    &__icon {
        width: 20px;
        height: 20px;
        fill: $light-color-text;
    }
}

.send {
    margin-left: auto;

    &__form {
        display: flex;
    }

    &__email {
        margin-right: 12px;
        padding: 15px 16px;
        width: 358px;
        height: 50px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-sizing: border-box;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background-color: transparent;

        &:focus,
        &:focus-visible {
            border: 1px solid rgba(255, 255, 255, 0.3);
            outline: none;
            color: $light-color-text;
        }

        &::placeholder {
            color: rgba(255, 255, 255, 0.6);

            font-size: 16px;
            line-height: 1.25;
        }
    }
}
